// reset
@charset "utf-8";

// font 나눔바른고딕
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.5;
    text-transform: uppercase;
}

*::before, *::after{
	border-spacing: 0;
}

html, body, header, main, footer, 
h1, h2, h3, h4, h5, h6, figure, 
div, span, p, a, input, dl, dt, dd{
    margin: 0; padding: 0;
}
img, video, iframe{
    margin: 0; padding: 0;
    vertical-align: middle;
}
a{text-decoration: none; color: inherit;}
ol,ul,li{
    margin: 0; padding: 0;
    list-style-type: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
input, button{
    border: none;
    background: none;
    &:focus{
        outline: none;
    }
}

// color
$mc: #351F66; // 메인 보라색
$sc: #027B94; // 서브 파랑
$sl: #E2E2E2; // 서브 라인
$mt: #0f0f0f; // 메인 텍스트
$st: #444444; // 서브 텍스트
$fb: #f8f8fa; // 풋터 배경색

// width

.mwidth{
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px
}

// ================================================================================
// ============================= header ===========================================
// ================================================================================

header{
    min-width: 1140px;
    border-bottom: 1px solid $mc;
    z-index: 9999;
    .head-menu{
        height: 80px;
        color: $st;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 a{
            width: 140px; height: 47px;
            background: url("../img/logo_black.png"), no-repeat;
            display: block;
        }
    }
    .m-margin{
        margin: 0 20px;
        cursor: pointer;
    }
    .menu-left{
        display: flex;
        align-items: flex-end;
    }
    .bugermenu{
        p{
            width: 24px; height: 24px;
            padding: 2px;
            margin-right: 10px;
            position: relative;
            cursor: pointer;
        }
        span{
            width: 100%;
            border-bottom: 2px solid $st;
            position: absolute;
            left: 0; top: 50%;
            &:nth-of-type(1){
                top: 12%;
            }
            &:nth-of-type(3){
                top: 88%;
            }
        }
        p.active{
            background: url('../img/ico-layer-close-g.png'), no-repeat;
            background-size: 24px 24px;
            span{
                display: none;
            }
        }
    }
    .menu-right{
        display: flex;
        align-items: flex-end;
        .my{
            width: 24px; height: 24px;
            padding: 2px;
            p{
                width: 18px; height: 21px;
                background: url("../img/ico-mymega.png"), no-repeat;
            }
        }
        .search{
            width: 24px; height: 24px;
            padding: 2px;
            margin-left: 10px;
            cursor: pointer;
            p{
                width: 18px; height: 18px;
                background: url("../img/ico-search.png"), no-repeat;
            }
        }
        .my.active{
            background: url('../img/ico-layer-close-g.png'), no-repeat;
            background-size: 24px 24px;
            p{
                display: none;
            }
        }
        .search.active{
            background: url('../img/ico-layer-close-g.png'), no-repeat;
            background-size: 24px 24px;
            p{
                display: none;
            }
        }
    }
    nav{
        width: 100%;
        min-width: 1140px;
        height: calc(100vh - 80px);
        background-color: $st;
        position: absolute;
        left: 0; top: 80px;
        z-index: 100;
        display: none;
        .nav-tit{
            margin: 60px auto 40px;
            font-size: 1.8em;
            font-weight: 400;
            color: #fff;
        } 
        .sitemap{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .map{
                width: 160px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: center;
                h4{
                    width: 100%;
                    padding: 8px;
                    color: #fff;
                    font-size: 1.2em;
                    text-align: center;
                    border-top: 1px solid rgba(114, 114, 114, 0.8);
                    border-bottom: 1px solid rgba(114, 114, 114,.8);
                    
                }
                p{
                    width: 100%;
                    margin-top: 16px;
                    color: $sl;
                    text-align: center;
                }
            }
        }
        .sitemap:nth-of-type(2){
            width: 770px;
            transform: translateX(-186px) translateY(-200px);
            .map{
                align-items: left;
            }
        }
    }
    nav.active{
        display: inline-block;
    }
    .my-contents{
        width: 100%;
        min-width: 1140px; height: 300px; 
        padding: 60px;
        background-color: $sc;
        text-align: center;
        position: absolute;
        left: 0; top: 80px;
        z-index: 10000;
        display: none;
        p{  
            color: #fff;
            line-height: 2;
        }
        button{
            margin: 30px auto 40px;
            padding: 4px 30px;
            display: block;
            border: 1px solid #fff;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }
        a{
            color: #fff;
            font-weight: 100;
            position: relative;
            &::after{
                content: '';
                width: 100%;
                border-bottom: 1px solid $sl;
                position: absolute;
                left: -2px; bottom: -6px;
            }
        }
    } 
    .my-contents.active{
        display: block;
    }
    .search-contents{
        width: 100%;
        min-width: 1140px;
        padding: 60px;
        background-color: $mc;
        position: absolute;
        left: 0; top: 80px;
        z-index: 10000;
        display: none;
        .rank-tit{
            margin-bottom: 20px;
            color: #fff;
            font-size: 1.2em;
        }
        .search-wrap{
            display: flex;
            position: relative;
        }
        .no1-img{
            width: 150px;
            img{
                width: 100%;
            }
        }
        .rank-list{
            margin-left: 60px;
            color: #fff;
            p{
                margin-bottom: 12px;
            }
            i{
                margin-right: 12px;
                font-size: 1.4em;
                white-space: nowrap;
            }
            span{
                display: inline-block;
                width: 200px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .search-bar{
            position: absolute;
            left: 50%; top: 80px;
            input{
                width: 400px;
                padding-bottom: 20px;
                border-bottom: 2px solid #fff;
                color: #fff;
                font-size: 1.2em;
                text-transform: none;
            }
            input::placeholder{
                color: #fff;
                font-weight: 100;
            }
            button{
                cursor: pointer;
            }
        }
    }
    .search-contents.active{
        display: block;
    }
}

// ================================================================================
// ============================= footer ===========================================
// ================================================================================

.footer-menu{
    width: 100%; height: 200px;
    background-color: $fb;
    color: $st;
    // position: absolute;
    // left: 0; bottom: 0;
    z-index: 999;
    .f-1{
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            li{
                margin-right: 14px;
                font-size: 0.8em;
            }
            b{font-size: 1em;}
        }
        button{
            padding: 4px 18px;
            font-size: 0.8em;
            border: 1px solid $sl;
            border-radius: 30px;
            cursor: pointer;
            img{
                width: 12px;
                margin-right: 4px;
            }
        }
    }
    .f-2{
        display: flex;
        justify-content: space-between;
    }
    .f2-1{
        width: 150px;
        margin-top: 4px;
    }
    .f2-2{
        span{
            font-size: .8em;
        }
    }
    .f2-3{
        display: flex;
        span{
            margin-top: 4px;
            margin-left: 8px;
        }
    }
}

// ================================================================================
// ============================= login ===========================================
// ================================================================================

.login {
    width: 100%; height: 100vh; 
    background: rgba(0,0,0,.7);
    position: fixed; 
    left: 0; top: 0;
    z-index: 1000;
    display: none;
    &.active{
        display: block;
    }
    .pop_w {
        width: 420px; 
        background: #fff; 
        position: absolute; 
        top: 50%; left: 50%; 
        transform: translate(-50%, -50%);
        .tit {
            height: 45px;
            background: $mc; 
            display: flex;
            justify-content: space-between;
            h3 {
                padding: 15px 20px 0 20px; 
                color: #fff; 
                font-size: 1.2em; 
                line-height: 1.1; 
                font-weight: 700;
            }
            p{
                width: 20px; height: 20px;
                margin: 10px 20px 0 20px; 
                position: relative;
                cursor: pointer;
                span:nth-of-type(1){
                    width: 20px;
                    display: inline-block;
                    border: 1px solid $sl;
                    position: absolute;
                    left: 0; top: 10px;
                    transform: rotate(45deg);
                }
                span:nth-of-type(2){
                    width: 20px;
                    display: inline-block;
                    border: 1px solid $sl;
                    position: absolute;
                    left: 0; top: 10px;
                    transform: rotate(-45deg);
                }
            }
        }
        .pop_con {
            height: 400px;
            padding: 20px 20px 0 20px; 
            .con {
                label {display: none;}
                input {
                    width: 100%; height: 46px; 
                    border: 1px solid #d8d9db; 
                    padding-left: 15px;
                }
                input:nth-of-type(2) {margin-top: 15px;}
                input[type=checkbox] {
                    width: 1em; height: 1em; 
                    display: inline-block; 
                    vertical-align: middle; 
                    cursor: pointer;
                }
                .id_chk {
                    padding: 15px 0 35px 0;
                }
                .btn_login {
                    button {
                        width: 100%; height: 46px; 
                        display: block; text-align: 
                        center; border-radius: 4px;
                        cursor: pointer;
                    }
                    button.disabled {
                        color: #777; 
                        background: #e0e0e0; 
                        border: 0;
                    }
                    button.active {
                        color: #fff; 
                        background: $mc;
                    }
                }
                .link {
                    width: 100%; 
                    padding: 20px 0 30px 0; 
                    text-align: center;
                    a {
                        display: inline-block; 
                        padding-right: 1em; 
                        color: #666; 
                        position: relative;
                    }
                    a::after {
                        content: ''; 
                        display: block; 
                        position: absolute; 
                        width: 1px; height: 12px; 
                        background: #e0e0e0; 
                        top: 5px; right: 6px;
                    }
                    a:nth-of-type(3) {
                        padding-right: 0;
                    }
                    a:nth-of-type(3):after {display: none;}
                }
                .btn_sns {
                    text-align: center; 
                    width: 100%; height: 40px;
                    a {
                        overflow: hidden; 
                        display: inline-block; 
                        width: 40px; height: 40px; 
                        margin: 0 23px; 
                        font-size: 0; 
                        line-height: 0;
                    }
                    a.facebook {background: url('../img/login/ico-facebook.png') no-repeat;}
                    a.naver {background: url('../img/login/ico-naver.png') no-repeat;}
                    a.kakao {background: url('../img/login/ico-kakao.png') no-repeat;}
                    a.payco {background: url('../img/login/ico-payco.png') no-repeat;}
                }
            }
        }
    }
}