@import '_common.scss';
// main header
header{
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
    .head-menu h1 a{
        background-image: url("../img/logo-white.png");
    }
    .m-margin a{
        color: $sl;
    }
    .bugermenu span{
        border-bottom: 2px solid $sl;
    }
    .menu-right .my p{
        background: url("../img/ico-mymega-white.png"), no-repeat;
    }
    .menu-right .search p{
        background: url("../img/ico-search-white.png"), no-repeat;
    }
}

// main page
main{
    position: relative;
    h3{
        padding: 80px 0 40px;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: -1px;
        color: $mc;
    }
}
.box-office{
    height: 820px;
    .bg{
        width: 100%; height: 900px;
        min-width: 1140px;
        overflow: hidden;
        position: absolute;
        left: 0; top: -80px;
        z-index: -500;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0;
            bottom: 0; right: 0;
            z-index: 2;
            background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0;
            bottom: 0; right: 0;
            z-index: 2;
            background-color: rgba(3,1,21,0.7);
        }
        .bg-pattern{
            width: 100%; height: 100%;
            position: absolute;
            left: 0; top: 0;
            z-index: 5;
            background: url('../img/main/bg-movie-detail-pattern.png') repeat 0 0;
        }
        img{
            width: 100%; height: 100%;
            object-fit: cover;
            filter: blur(20px);
        }
    }
    .contents{
        text-align: center;
        color: #fff;
    }
    .contents-title{
        padding: 80px 0 0;
        position: relative;
        h2{
            margin-bottom: 40px;
            display: inline-block;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            font-size: 1.0667em;
        }
        p{
            margin-bottom: 10px;
            color: $sl;
            font-weight: 100;
            line-height: 16px;
            position: absolute;
            bottom: 0; right: 0;
        }
    }
    .box-list{
        display: flex;
        justify-content: space-between;
        figure{
            width: 245px; height: 352px;;
            position: relative;
            >img{
                width: 100%; height: 100%;
            }
            figcaption{
                position: absolute;
                left: 0; top: 0;
                z-index: 2;
            }
            i{
                margin: 8px;
                font-size: 32px;
                text-shadow: 4px 4px 4px black;
                position: absolute;
                left: 0; top: 0;
            }
            .summary{
                display: none;
            }
            div{
                width: 100%;
                margin: 12px 0;
                position: relative;
            }
            p{
                display: inline-block;
                width: 80px; height: 36px;
                line-height: 36px;
                border: 1px solid #555;
                border-radius: 4px;
                background-color:rgba(0,0,0,0.4);
                position: absolute;
                left: 0; top: 0;
                cursor: pointer;
            }
            p span:nth-of-type(1){
                width: 17px;
                margin-right: 4px;
                display: inline-block;
                overflow: hidden;
                position: absolute;
                left: 12px; top: 6px;
            }
            p span:nth-of-type(2){
                position: absolute;
                left: 36px; top: 7px;
            }
            div button{
                width: 160px; height: 36px;
                line-height: 34px;
                color: #fff;
                border-radius: 4px;
                background-color: $sc;
                position: absolute;
                right: 0; top: 0;
                cursor: pointer;
            }
        }
    }
    .mb-search{
        width: 100%;
        margin-top: 100px;
        padding: 10px 0;
        text-align: center;
        background-color: rgba(0,0,0,0.2);
        display: table;
        form{
            width: 25%;
            display: table-cell;
            input{
                color: #fff;
            }
            input[type="submit"]{
                display: none;
            }
            input[type="submit"]+img{
                cursor: pointer;
            }
        }
        p{ 
            width: 25%;
            display: table-cell;
            border-left: 2px solid $st;
            a{
                color: #fff;
            }
            img{
                margin: 8px;
            }
        }
    }
    .scroll{
        min-width: 1140px;
        margin: 80px 0 0;
        text-align: center;
        animation: scroll 2s ease infinite;
    }
    @keyframes scroll {
        0% { transform: translateY(0);}
        50% { transform: translateY(-20px);}
        100% { transform: translateY(0);}
    }
}
.benefit{
    height: 845px;
    margin-top: 80px;
    position: relative; 
    &::before{
        content: '';
        width: 100%; height: 330px;
        min-width: 1140px;
        background-color: $mc;
        position: absolute;
        top: 515px; left: 0;
        z-index: -1;
    }
    .tit {
        display: flex;
        a {display: inline-block; position: relative; font-size: 0;}
        a::before {content: ''; background: url('../img/main/btn-more-cross-purple.png') no-repeat; width: 16px; height: 16px; position: absolute; top: 16px; right: 16px;}
    }
    .b-box{
        display: flex;
        justify-content: space-between;
        .box1{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            .event{
                height: 325px;
                display: inline-block;
                position: relative;
                p{
                    display: flex; align-items: start;
                    position: absolute;
                    left: 0; top: 0;
                }
            }
            .bene-remote{
                position: relative;
            }
            .remote-pre{
                position: absolute;
                left: 220px; top: -65px;
                cursor: pointer;
            }
            .remote-next{
                position: absolute;
                left: 240px; top: -65px;
                cursor: pointer;
            }
            .remote-stop{
                position: absolute;
                left: 260px; top: -65px;
                cursor: pointer;
            }
            .remote-start{
                position: absolute;
                left: 280px; top: -65px;
                cursor: pointer;
            }
            .bene-remote span:nth-of-type(1){
                display: inline-block;
                width: 200px;
                border-top: 2px solid $sl;
                position: absolute;
                top: -60px; left: 0;
            }
            .bene-remote span:nth-of-type(2){
                display: inline-block;
                width: 200px;
                border-top: 2px solid $mc;
                position: absolute;
                top: -60px; left: -50px;
                transform: scaleX(50%);
            }
            .box1-2{
                display: flex;
                p{
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
                }
                p img {
                    width: 100%; 
                    border-radius: 5px;
                }
                p:nth-of-type(1) {width: 441px;}
                p:nth-of-type(2) {width: 204px; margin-left: 20px;}
            }
        }
        .box2 {
            width: 415px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
            img {border-radius: 5px;}
        }
    }
    .b-items{
        height: 132px;
        display: flex;
        justify-content: space-around;
        p{
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            position: relative; text-align: center; align-items: center; width: 20%;
            img{
                width: max-content;
                height: 45px;
            }
            span{
                display: inline-block;
                position: absolute;
                color: #fff; padding: 60px 0 0 0;
                width: max-content;
            }
        }
    }
}
.info{
    div{
        display: flex;
        justify-content: space-between; margin-bottom: 200px;
        p{
            width: 170px; height: 170px; position: relative;
            overflow: hidden; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .2);
            img{
                width: 100%;
            }
            &:hover img {transform: translateY(-170px);}
            &:nth-of-type(1)::after {position: absolute;
                content: "NEW"; top: 10px; right: 10px; width: 50px; height: 22px; line-height: 25px; text-align: center;
                color: #fff; font-size: 13px; border-radius: 5px; background: $sc; text-indent: 0; display: block;}
        }
    }

}