@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

*::before, *::after {
  border-spacing: 0;
}

html, body, header, main, footer,
h1, h2, h3, h4, h5, h6, figure,
div, span, p, a, input, dl, dt, dd {
  margin: 0;
  padding: 0;
}

img, video, iframe {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  border: none;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

.mwidth {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  min-width: 1140px;
  border-bottom: 1px solid #351F66;
  z-index: 9999;
}

header .head-menu {
  height: 80px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head-menu h1 a {
  width: 140px;
  height: 47px;
  background: url("../img/logo_black.png"), no-repeat;
  display: block;
}

header .m-margin {
  margin: 0 20px;
  cursor: pointer;
}

header .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .bugermenu p {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

header .bugermenu span {
  width: 100%;
  border-bottom: 2px solid #444444;
  position: absolute;
  left: 0;
  top: 50%;
}

header .bugermenu span:nth-of-type(1) {
  top: 12%;
}

header .bugermenu span:nth-of-type(3) {
  top: 88%;
}

header .bugermenu p.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .bugermenu p.active span {
  display: none;
}

header .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-right .my {
  width: 24px;
  height: 24px;
  padding: 2px;
}

header .menu-right .my p {
  width: 18px;
  height: 21px;
  background: url("../img/ico-mymega.png"), no-repeat;
}

header .menu-right .search {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

header .menu-right .search p {
  width: 18px;
  height: 18px;
  background: url("../img/ico-search.png"), no-repeat;
}

header .menu-right .my.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .menu-right .my.active p {
  display: none;
}

header .menu-right .search.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .menu-right .search.active p {
  display: none;
}

header nav {
  width: 100%;
  min-width: 1140px;
  height: calc(100vh - 80px);
  background-color: #444444;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 100;
  display: none;
}

header nav .nav-tit {
  margin: 60px auto 40px;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
}

header nav .sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav .sitemap .map {
  width: 160px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .sitemap .map h4 {
  width: 100%;
  padding: 8px;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  border-top: 1px solid rgba(114, 114, 114, 0.8);
  border-bottom: 1px solid rgba(114, 114, 114, 0.8);
}

header nav .sitemap .map p {
  width: 100%;
  margin-top: 16px;
  color: #E2E2E2;
  text-align: center;
}

header nav .sitemap:nth-of-type(2) {
  width: 770px;
  -webkit-transform: translateX(-186px) translateY(-200px);
          transform: translateX(-186px) translateY(-200px);
}

header nav .sitemap:nth-of-type(2) .map {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

header nav.active {
  display: inline-block;
}

header .my-contents {
  width: 100%;
  min-width: 1140px;
  height: 300px;
  padding: 60px;
  background-color: #027B94;
  text-align: center;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 10000;
  display: none;
}

header .my-contents p {
  color: #fff;
  line-height: 2;
}

header .my-contents button {
  margin: 30px auto 40px;
  padding: 4px 30px;
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

header .my-contents a {
  color: #fff;
  font-weight: 100;
  position: relative;
}

header .my-contents a::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
  position: absolute;
  left: -2px;
  bottom: -6px;
}

header .my-contents.active {
  display: block;
}

header .search-contents {
  width: 100%;
  min-width: 1140px;
  height: 300px;
  padding: 60px;
  background-color: #351F66;
  text-align: center;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 10000;
  display: none;
}

header .search-contents.active {
  display: block;
}

.footer-menu {
  width: 100%;
  height: 200px;
  background-color: #f8f8fa;
  color: #444444;
  z-index: 999;
}

.footer-menu .f-1 {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu .f-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu .f-1 ul li {
  margin-right: 14px;
  font-size: 0.8em;
}

.footer-menu .f-1 ul b {
  font-size: 1em;
}

.footer-menu .f-1 button {
  padding: 4px 18px;
  font-size: 0.8em;
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  cursor: pointer;
}

.footer-menu .f-1 button img {
  width: 12px;
  margin-right: 4px;
}

.footer-menu .f-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu .f2-1 {
  width: 150px;
  margin-top: 4px;
}

.footer-menu .f2-2 span {
  font-size: .8em;
}

.footer-menu .f2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu .f2-3 span {
  margin-top: 4px;
  margin-left: 8px;
}

.login {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
}

.login.active {
  display: block;
}

.login .pop_w {
  width: 420px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login .pop_w .tit {
  height: 45px;
  background: #351F66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .pop_w .tit h3 {
  padding: 15px 20px 0 20px;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 700;
}

.login .pop_w .tit p {
  width: 20px;
  height: 20px;
  margin: 10px 20px 0 20px;
  position: relative;
  cursor: pointer;
}

.login .pop_w .tit p span:nth-of-type(1) {
  width: 20px;
  display: inline-block;
  border: 1px solid #E2E2E2;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login .pop_w .tit p span:nth-of-type(2) {
  width: 20px;
  display: inline-block;
  border: 1px solid #E2E2E2;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.login .pop_w .pop_con {
  height: 400px;
  padding: 20px 20px 0 20px;
}

.login .pop_w .pop_con .con label {
  display: none;
}

.login .pop_w .pop_con .con input {
  width: 100%;
  height: 46px;
  border: 1px solid #d8d9db;
  padding-left: 15px;
}

.login .pop_w .pop_con .con input:nth-of-type(2) {
  margin-top: 15px;
}

.login .pop_w .pop_con .con input[type=checkbox] {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.login .pop_w .pop_con .con .id_chk {
  padding: 15px 0 35px 0;
}

.login .pop_w .pop_con .con .btn_login button {
  width: 100%;
  height: 46px;
  display: block;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.login .pop_w .pop_con .con .btn_login button.disabled {
  color: #777;
  background: #e0e0e0;
  border: 0;
}

.login .pop_w .pop_con .con .btn_login button.active {
  color: #fff;
  background: #351F66;
}

.login .pop_w .pop_con .con .link {
  width: 100%;
  padding: 20px 0 30px 0;
  text-align: center;
}

.login .pop_w .pop_con .con .link a {
  display: inline-block;
  padding-right: 1em;
  color: #666;
  position: relative;
}

.login .pop_w .pop_con .con .link a::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: #e0e0e0;
  top: 5px;
  right: 6px;
}

.login .pop_w .pop_con .con .link a:nth-of-type(3) {
  padding-right: 0;
}

.login .pop_w .pop_con .con .link a:nth-of-type(3):after {
  display: none;
}

.login .pop_w .pop_con .con .btn_sns {
  text-align: center;
  width: 100%;
  height: 40px;
}

.login .pop_w .pop_con .con .btn_sns a {
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 23px;
  font-size: 0;
  line-height: 0;
}

.login .pop_w .pop_con .con .btn_sns a.facebook {
  background: url("../img/login/ico-facebook.png") no-repeat;
}

.login .pop_w .pop_con .con .btn_sns a.naver {
  background: url("../img/login/ico-naver.png") no-repeat;
}

.login .pop_w .pop_con .con .btn_sns a.kakao {
  background: url("../img/login/ico-kakao.png") no-repeat;
}

.login .pop_w .pop_con .con .btn_sns a.payco {
  background: url("../img/login/ico-payco.png") no-repeat;
}

main {
  min-height: 100vh;
  background-color: #f8f8fa;
}

main .join {
  width: 710px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 80px 100px;
  background-color: #fff;
}

main .join-tit h1 {
  text-align: center;
  margin-bottom: 60px;
}

main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main nav::after {
  content: '';
  width: 100%;
  border-top: 1px solid #E2E2E2;
  position: absolute;
  left: 0;
  bottom: 0;
}

main nav p {
  margin: 10px 0 20px;
  color: #444444;
  font-size: 0.9em;
}

main nav p.active {
  color: #351F66;
  position: relative;
}

main nav p.active::after {
  content: '';
  width: 100%;
  border: 1px solid #351F66;
  position: absolute;
  left: 0;
  bottom: -20px;
  z-index: 2;
}

main h2 {
  margin-top: 40px;
  font-size: 1.6em;
  font-weight: 400;
}

main p {
  color: #444444;
}

main .join-certification {
  display: none;
}

main .join-certification li {
  margin-left: 16px;
  color: #444444;
  list-style-type: circle;
}

main .join-certification .certi-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .join-certification .certi-type button {
  margin: 20px 0;
  padding: 40px 80px;
  border: 1px solid #444444;
  border-radius: 4px;
  cursor: pointer;
}

main .join-certification .certi-type button img {
  margin-bottom: 10px;
}

main .join-certification .certi-type button:hover {
  opacity: .4;
}

main .join-certification.active {
  display: block;
}

main .join-agree {
  display: none;
}

main .join-agree form {
  margin: 20px 0;
}

main .join-agree form p {
  margin: 20px 0 40px;
  padding-bottom: 16px;
  position: relative;
}

main .join-agree form p input {
  position: absolute;
  left: 0;
  top: 4px;
  cursor: pointer;
}

main .join-agree form label {
  margin-left: 20px;
  cursor: pointer;
}

main .join-agree form span {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #E2E2E2;
  overflow-y: scroll;
  display: block;
  color: #444444;
  font-family: serif;
}

main .join-agree form .checkall {
  position: relative;
}

main .join-agree form .checkall input {
  top: 6px;
}

main .join-agree form .checkall label {
  font-size: 1.2em;
}

main .join-agree form .checkall::after {
  content: '';
  width: 100%;
  border-top: 1px solid #E2E2E2;
  position: absolute;
  left: 0;
  bottom: 0;
}

main .join-agree form .necessary label {
  color: #351F66;
}

main .join-agree form .submit input {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

main .join-agree.active {
  display: block;
}

main .submit {
  text-align: center;
}

main .submit input {
  width: 200px;
  padding: 12px;
  background-color: #E2E2E2;
  color: #444444;
  font-size: 1.2em;
  cursor: pointer;
}

main .join-input {
  display: none;
}

main .join-input ul {
  width: 100%;
  margin: 16px 0 40px;
  border-top: 1px solid #444444;
}

main .join-input ul li {
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid #E2E2E2;
  position: relative;
}

main .join-input ul li label {
  width: 120px;
  height: 48px;
  padding: 16px 10px;
  background-color: #f8f8fa;
  color: #444444;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

main .join-input ul li input {
  width: 280px;
  padding: 4px 8px;
  border: 1px solid #E2E2E2;
  position: absolute;
  left: 132px;
  top: 8px;
  text-transform: none;
}

main .join-input ul li .id-check {
  padding: 6px 10px;
  background-color: #E2E2E2;
  border-radius: 4px;
  color: #979797;
  font-size: .8em;
  position: absolute;
  right: 16px;
  top: 9px;
  cursor: pointer;
}

main .join-input .marketing {
  padding: 16px 20px;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
}

main .join-input .marketing h3 {
  padding-bottom: 12px;
  font-size: 1.2em;
  font-weight: 400;
  color: #444444;
  position: relative;
}

main .join-input .marketing h3::after {
  content: '';
  width: calc(100% + 40px);
  border-top: 1px solid #E2E2E2;
  position: absolute;
  left: -20px;
  bottom: 0;
}

main .join-input .marketing .marketing-agree {
  padding: 20px 0 10px;
}

main .join-input .marketing .marketing-agree p {
  margin: 10px 0  32px;
}

main .join-input .marketing .marketing-agree b {
  color: #444444;
  font-weight: 400;
}

main .join-input .marketing .marketing-agree span {
  display: inline-block;
  font-weight: 100;
}

main .join-input .marketing .alert {
  color: #ac1010;
  font-size: .8em;
  display: none;
}

main .join-input .marketing .alert.on {
  display: inline;
}

main .join-input .marketing .agree-bg {
  padding: 14px 0;
  border-radius: 4px;
  background-color: #f8f8fa;
}

main .join-input .marketing .agree-bg label {
  cursor: pointer;
}

main .join-input .marketing .agree-bg input {
  margin: 0 4px 0 20px;
  cursor: pointer;
}

main .join-input .submit {
  margin: 40px 0 0;
}

main .join-input.active {
  display: block;
}

main .join-finish {
  display: none;
  margin: 100px 0;
  text-align: center;
}

main .join-finish img {
  width: 100px;
}

main .join-finish h2 {
  margin: 32px 0 10px;
  color: #351F66;
}

main .join-finish h2 i {
  font-style: normal;
  font-size: 1em;
}

main .join-finish button {
  width: 200px;
  margin: 80px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #351F66;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

main .join-finish.active {
  display: block;
}
/*# sourceMappingURL=join.css.map */